.theme {
    /* Primary Colors (Backgrounds & Surfaces) */
    --background: #151226;
    --foreground: #fcfcfc;

    /* --card: #1a1a1a; */

    --primary: #3627ba;
    --primary-foreground: #5c51b9;

    --secondary: #2c3545;

    --accent: #ff4500;

    /* Status Colors */
    --color-status-success: #00c351;
    --color-status-warning: #ffb92e;
    --color-status-error: #ff1900;

    /* Additional Utility */
    --color-glow-blue: #3d8bff4d;
    --color-glow-orange: #f95f3f33;
}