/*
Do not define styles here, or perform any changes without any of the admins permission
*/

@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* theming */
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

@theme {
  --text-base: '1rem';
  --text-sm: '1.25rem';
  --text-md: '1.75rem';
  --text-lg: '2rem';
  --text-xl: '1.1vw';
  --text-2xl: '1.3vw';
  --font-roboto: "var(--font-roboto),serif";


}

html, body {
  overflow-x: hidden;
}